<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <ht>Description</ht>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
            <tr>
                <td>{{name}}</td>
                <td>{{type}}</td>
                <td>{{description}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>