<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
            <tr>
                <td>{{name}}</td>
                <td>{{type.name}}</td>
                <td>{{type.cat.name}}</td>
                <td>{{desc}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>